* {
  margin: 0;
  padding: 0;
}
body{
    background-color: #FAFAFA;
}
.top {
  background-image: url(./css-challenge/images/hero.png);
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  color: white;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
ul {
  display: flex;
  gap: 15px;
  list-style: none ;
}
.right{
    display: flex;
    gap: 30px;
}
.right .login{
    background-color: transparent;
    border: none;
    color: white
}
.right .membership{
    background-color: #23A6F0;
    width: 110px;
    height: 30px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.membership img{
    color: white;
    width: 10px;
    height: 10px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px;
  color: white;
  text-align: center;
}
.about h1 {
  font-size: 50px;
}
.more {
  display: flex;
  gap: 10px;
  height: 40px;
}
.get{
  border: 1px white solid;
  width: 110px;
  height: 20px;
  font-size: 9px;
  border-radius: 30px;
  text-align: center; 
  padding-top: 10px;
  background-color: #23A6F0;
}
.learn {
  border: 1px white solid;
  width: 110px;
  height: 20px;
  font-size: 9px;
  border-radius: 30px;
  text-align: center;
  padding-top: 10px;
}
.description{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -30px;
}
.description img{
    width: 30px;
    height: 30px;
    filter: #23A6F0;

}
.mind, .life, .satisfaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
    width: 15%;
    height: 120px;
    margin-bottom: 40px;
}
.mind, .life{
    background-color: white;
}
.satisfaction{
    background-color: #23A6F0;
    color: white;
}